models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
task_config/
!task_config/
task_config/*
!task_config/demo_clean_xarm6_g1.yml
**/.DS_Store

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files
!assets/embodiments/
assets/embodiments/*
!assets/embodiments/xarm6-g1/
!assets/embodiments/xarm6-g1/**
assets/embodiments/xarm6-g1/curobo.yml

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
